@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.container{
    margin:0 5em;
}

.row-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 100vh;
}

.right-div {
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    margin-left: auto;
    flex: 1;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(Pics/Giraffe.jpg);
    background-size: 800px 850px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}




.nav ul.nav-list{
    list-style-type: none;

}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 17px;
    display: inline-block;
    padding-bottom: 7px;
    position: relative;
    overflow: hidden;
}

.nav ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #bc2525;
    bottom: 0px;
    left:-100%;
    transition: all .3s ease-in-out;

}

.nav ul li a:hover:after{
    left: 0;
}

.nav ul li a button{
    width: 90px;
    height: 35px;
    font-weight: 700;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #bc2525;
    box-shadow: inset black;
    border: none;
    
}

.logo a img {
    width: 150px;
    margin-top: 40px;
}

.intro-wrapper {
    padding: 50px;
    margin-top: 150px;
    
}

.intro {
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    font-size: 25px;
    position: absolute;
    display: flex;
    width: 81%;
}

.heading{
    margin: 0 0.3em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 3px;
    margin-bottom: 7%;
}


input[type=email], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 25px 0;
    display: block;
    border: 1px solid rgb(179, 171, 171);
    box-sizing: border-box;
    border-radius: 7px;

  }

form button{

    background-color: #bc2525;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    }

.forgot{
    margin: 20px;


}
span.psw {

    padding: 0 0 0 160px;
    }
form a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.login-form{
    margin-top: 150px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container {
        margin: 0 1em;
    }
    
    body {
        background-color: #ffffff;
        background-image: none;
    }

    h1{
        font-size: 60px;
    }

    .row-container {
        flex: 2;
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .right-div {
        
        top: 0;
        flex: 1;
        height: 50vh;
        margin-right: 80px;
        background-image: none;
    }

    .nav ul li {
        display: block;
    }
    .nav ul li a {
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        color: black;
        margin-left: 17px;
        display: inline-block;
        padding-bottom: 7px;
        position: relative;
        overflow: hidden;
    }
    .intro {
        display: none;
    }
    .header {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        text-align: center;
        margin-left: -30px;
    }
    .logo a img {
        width: 100px;
    }


    input[type="email"],
    input[type="password"] {
        width: 70%;
        padding: 12px 20px;
        margin: 25px 0;
        display: block;
        border: 1px solid rgb(179, 171, 171);
        box-sizing: border-box;
        border-radius: 7px;
    }
    .heading {
        font-size: 15px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .forgot {
        display: none;
    }
    form button {
        background-color: #bc2525;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        width: 70%;
    }
    .to-sign-up {
        display: none;
    }

    .row-container {
        flex: 2;
        display: flex;
        flex-direction: row;
        width: 50vh;
       margin-top: 100px;
       margin-right: 50px;
    }
}






      





 
